/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* VARIABLE ROOT */
:root {
       /* POLICE POUR LE CORPS DU TEXTE */
    --font-corp: roboto, sans-serif;
    /* POLICE DES TITRES */
    --font-titre: Poppins, sans-serif;
     /* FONT CLAIR PAR DEFAUT */
    --color-principal: #F8F9FA;
    /* COULEUR TEXTE */
    --color-texte: #090b0c;
    /* COULEUR SECONDAIRE */
    --color: #2a90f0;
        /* SPACEMENT DE BASE */
    --space: 16px;
}


/* le CORPS DU PAGE */
body {
    font-family: var(--font-corp);
    font-optical-sizing: auto;
    line-height: 1.6;
    /* min-height: 100vh; */
    font-style: normal;
    font-size: 17px;
    color: var(--color-texte);
}


/* DARK MODE */
/* ICONE LUNE DU DARK MODE */
#darkmode{
    width:40px;
}
 /* LARGEUR DU BOUTONS DARK MODE */
#theme-toggle{
    width: 5vw;
    
}

 /* FOND ET TEXTE EN DARK MODE */
body.dark{
    background: #1e1e1e;
    color: white    ;
    --colorprimary:#2a90f0;
    --secondcolor:black;

}
 /* NAVBAR AU DARK MODE */

body.dark .navbar{
    background: var(--colorprimary);
    color: #181717;
}
 /* CARTE AU DARK MODE */
body.dark .card{
    background:var(--colorprimary);
    color: white;
}
/* SECTION CATEGORIES EN DARK MODE */
body.dark .categories{
    background: var(--secondcolor);
}
/* CORPS DU DARK MODE */

body.dark .body{
    background-color: #181717;
}
/* SECTION DE LA PAGES A PROPOS  EN DARK MODE */
body.dark .histoire{
    background:#1a1818;
}

body.dark .equipe{
background:#1a1818;
}
body.dark .valeurs{
    background:#1a1818;
}
body.dark .chiffres{
    background:#1a1818;
}
/* GRILLE BENTO GRID DE LA PAGE A PROPOS EN DARK MODE */
body.dark .grille1{
    background: var(--colorprimary);
    color: white;
}
body.dark .grille2{
    background: var(--colorprimary);
    color: white;
}
body.dark .grille3{
    background: var(--colorprimary);
    color: white;
}
body.dark .grille4{
    background: var(--colorprimary);
    color: white;
}
body.dark .grille5{
    background:var(--colorprimary);
    color: white;
}
/* LIENS DU FOOTER EN DARK MODE */
body.dark .pied a{
    color: white;
}
/* SECTION COMMENT CA MARCHE EN DARK MODE */
body.dark .marche{
    background: var(--secondcolor);
    color: white;
}
/* SECTION CTA */
body.dark .CTA{
    background: var(--secondcolor);
    color: white;
}
/* SECTION HERO */
body.dark .hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/60.jpeg);
    height: 950px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* GRILLE FREELANCE */
body.dark .grille{
    background: #1a1818;
}
/* FOOTER COLORE */
body.dark .tor{
    background: var(--secondcolor);

}
/* PAGES TARIF ET FAQ EN DARK MODE */
body.dark .tarifs{
    background: #1a1818;
}
body.dark .pied-de-page{
    background: #1a1818;
}
body.dark .question{
    background: var(--secondcolor);
    
}
body.dark .navbar{
    background: var(--secondcolor);
    color: white;
}
body.dark .pied{
    color: white;
}
body.dark .prix{
    color: white;
}
/* COORDONNES EN DARK MODE */
body.dark .contact-details-list{
    color: white;
}
body.dark .active{
    background-color:  #1e1e1e;
    color: white;
}
body.dark .carrousel-item-start{
    background-color: #1e1e1e;
}



/* navbar au scroll */
.navbar {
    padding: 12px 40px;
    transition: all 0.4s ease;
    box-shadow: none;
    background-color: var(--color);
    
}
.navbar.scrolled{
    background-color: white;
    padding: 12px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    
}

/* BOUTON RETOURS EN HAUT */
#back-to-top{
    display: flex;
   position: fixed;
bottom: 30px;
right: 30px;
width: 45px;
height: 50px;
border: 1px solid var(--tertiary);
border-radius: 50%;
background: var(--tertiary);
color: #ffff;
font-size: 2rem;
align-items: center;
justify-content: center;
cursor: pointer;
opacity: 0;

}
#back-to-top.show{
    opacity: 1;
    visibility: visible;
}
/* COULEUR DU BOUTON RETOUR EN HAUT */
#back-to-top i{
    color:var(--color);
}
/* FADE-IN */
.fade-in{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease, transform 0.7s ease;
} 
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}





/* les titres du pages */
h1,
h2,
h4,
h5,h3 {
    font-family: var(--font-titre);
    font-style: var(--style);
}

/* section hero */
.hero {
    /* background-color: var(--color-principal);  */

    /* padding: var(--space); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/60.jpeg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.toute {
    margin-top: 1em;
}

.hor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8em;
    text-align: center;

}
/* ICON AU SECTION HERO */

.fa-users,
.fa-briefcase,
.fa-rocket {
    color: #ffffff;
    /* bottom: 10px; */
    margin-top: 35px;

}

.fa-users,
.fa-briefcase,
.fa-rocket,
h3 {
    margin-top: 20px;
}
/* BOUTON CTA */

#btn4 {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 10px;
    background-color: var(--color);
}

#btn3 {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 10px;
    border: 1px solid #ffffff;
    margin-right: 10px;

}


#btn3,
#btn4 {
    padding: 20px 10px;
     margin-top: 3em; 

}

/* section comment ça marche */
.marche {
    background-color: var(--color-principal);
    padding: var(--space);
    /* height: 50vw; */
    width: 100%;
    bottom: 200px;
}

.iconscomment {
    text-align: center;
    margin-top: 20px;
}


.marche h2 {
    text-align: center;
    color: var(--color);
}

.marche h4 {
    text-align: center;
    margin-top: 20px;
}

.marche h6 {
    margin-top: 10px;
}

.bento-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "grid1 grid1 grid2 grid2 grid2"
        "grid3 grid3 grid3 grid4 grid4"
    ;
}

.grid1 {
    grid-area: grid1;
    padding: 2rem;
    border-radius: 2rem;
}

.grid2 {
    grid-area: grid2;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(26, 94, 221);
    color: #ffffff;
}

.grid3 {
    grid-area: grid3;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(26, 94, 221);
    color: #ffffff;
}

.grid4 {
    grid-area: grid4;
    padding: 2rem;
    border-radius: 2rem;
}

.grid {
    background-color: var(--color);
    text-align: center;
    border-radius: 15px;
    color: #ffffff;

}

.grid:hover {
    /* height: 100px; */
    transform: translateY(0.9, 0.9);
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    background: var(--color);
    color: #ffffff;
}

#grid1,
#grid4 {
    background-color: var(--color);
    color: #ffffff;
}



/* sectio temoignage */
.temoin {
    background-color: var(--color-principal);
    padding: var(--space);
}

.temoin h2 {
    text-align: center;
    color: var(--color);
}

/* section CTA */
.CTA {
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
    text-align: center;
    padding-bottom: 50px;
}

.cta-texte {
    font-size: 1.5rem;
}

.btn1 {
    background: #ffffff;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    color: var(--color);
    border-radius: 50px;
}

.btn1:hover {
    transform: translateY(0.9, 0.9);
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: rgb(33, 33, 235);
    color: #ffffff;
}

/* section categories */
.categories {
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
    /* margin-top: 39rem; */
}

.categories h2 {
    text-align: center;
}

.body {
    /* text-align: center; */
    background: white;
    padding: 30px;
}

.card:not(.card-freelance, .card-tarif, .card-histoire) {
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
    height: 160px;
    height: 200px;
    width: 100%;
}

.card:hover:not(.card-freelance, .card-tarif, .card-histoire) {

    transform: translateY(0.9, 0.9);
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: var(--color);
    color: #ffffff;
}

.card-title {
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 20px;
    width: 100%;
    margin-top: 30px;
    
}

/* pied du page */
footer {
    padding: var(--space);
    text-align: center;
}

footer img {
    width: 98px;
    border-radius: 50%;
}

.annee {
    text-align: center;
}

.pied {
    display: flex;
    gap: 10em;
    text-align: center;
}

.icons {
    display: flex;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: black;


}

footer ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;

}

/* liens NAVBAR */

.collapse {
    justify-content: flex-end;

}

.nav-link {
    color: #ffffff;
}
.nav-link.append {
    color: #2a90f0;
}

/* logo */
#logo {
    border-radius: 50%;
    background-color: var(--color);
    margin-left: 50px;
}

.btn {
    background-color: #ffffff;
    color: var(--color);
}



.navbar-toggler {
    background-color: #ffffff;
}

/* formulaire */
.sectionContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 10rem;
}

.titrecontact {
    color: var(--color);
}
.btn-afri-submit{
    background: var(--color);
    color: #ffffff;
}







/* footer contact */
.tor {
    background-color: var(--color);
    color: #ffffff;
width: 100%;
}

.tor img {
    width: 70px;
    border-radius: 50%;

}

.tor a {
    color: #ffffff;
}

.ico {
    color: #ffffff;
}
.page-contact{
    display: flex;
}

/* localisation  */
.iframe {
    background-color: var(--color-principal);
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

/* section freelance */
.grille {
    background-color: var(--color-principal);
    color: #090b0c;
    margin-top: 5.5em;
    padding: 30px;

}
.card-freelance h2{
    font-size: 1.5em;
}



.card-freelance {

    margin-top: 1em;
    padding: var(--space);
    background-color: #2a90f0;
    color: #ffffff;


}

.btn-primary {
    border-radius: 15px;
}

.card-freelance ul {
    display: flex;
    list-style: none;


}

#freelance {
    text-align: center;
    gap: 3rem;
    margin-left: 1rem;



}

#freelance img {
    margin-left: 2.75rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #ffffff;

}
.container-filtre{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px 20px;
    
}
/* BOUTON DE FILTRAGE */

.filtrage{
    padding: 10px 20px;
    font-size: 12.5px;
    background:var(--color);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
    
}
.active{
    background: white;
   color:black;
}

/* section histoire */
.histoire {
    background-color: var(--color-principal);
    padding: var(--space);

}

.histoire h1 {
    text-align: center;
    padding: 10px;
    color: var(--color);
    margin-top: 3em;
    margin-bottom: 30px;
}

.part-histoire {
    display: flex;

}

.part-histoire img {
    width:100%;
    height: 600px;
    border-radius: 50% 10% 50% 10%;
    border: 3px solid var(--color);
}


.part-histoire p {
    margin-top: 7em;
}

.part-histoire strong {
    font-size: 40px;
    color: var(--color);
}

/* section equipe */
.equipe {
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
}

.equipe h2 {
    text-align: center;
    padding: 10px;
}
.card-img-top{
    border-radius: 50% 10% 50% 10%;
}

/* sections valeurs */
.valeurs {
    background-color: var(--color-principal);
    padding: var(--space);
}

.part-valeur {
    display: flex;
    gap: 40px;
}

.part-valeur i {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 15px;



}

.valeurs h2 {
    text-align: center;
    color: var(--color);
    padding: 10px;
}

.valeurs h3 {
    color: var(--color);
}

/* section chiffres cles */

.chiffres {
    background-color: var(--color);
    padding: var(--space);
    color: #ffffff;
}

.chiffres h2 {
    text-align: center;
}

.bento-grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;


}

.grille1 {
    grid-column: span 2;
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;

}

.grille3 {
    grid-column: span 3;
    color: #2a90f0;
    background-color: #ffffff;
    border-radius: 20px;
}

.grille5 {
    grid-column: span 2;
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;
}

.grille2,
.grille4 {
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;
}

/* section tarif */

.tarifs {
    background-color: var(--color-principal);

    padding: 80px 80px;



}

.tarifs h1 {
    text-align: center;
    color: var(--color);
    margin-bottom: 30px;
    margin-top: 20px;

}

.prix {
    color: var(--color);

}

.liste {
    list-style-type: none;

}

.bi-check-lg {
    color: var(--color);

}

.pied-de-page {
    background-color: var(--color-principal);
    color: #1a1818;



}

.pied-de-page img {
    border-radius: 98px;

    width: 70px;
}

.pied-de-page a {
    color: #181717;
}

.d-flex {
    gap: 5em;
}

.Populaire-card {
    border: 3px solid #2a90f0;
    transform: scale(1.05);
    position: relative;
}


/* section faq */
.question {
    background-color: #2a90f0;
    color: #ffffff;
    padding: 20px 20px;




}

.question h2,
h3 {
    text-align: center;
    margin-top: 20px;
}

.faq {
    margin-top: 9px;
    margin-bottom: 9px;
}



 /* RESPONSIVE TELEPHONE */

@media (min-width : 375px) and (max-width : 480px)  {

   

    .bento-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "grid1"
            "grid2"
            "grid3"
            "grid4"
        ;
    }
    
}
   /* RESPONSIVE TABLETTE ET LAPTOP */
@media (min-width : 481px) and (max-width : 1024px) {

    .bento-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "grid1 grid2"
            "grid3 grid4"
        ;
    }
}
          /* RESPONSIVE TELEPHONE */
@media (max-width: 375px) {
    /* navbar */
    .navbar-brand img {
        width: 50px;
    }
    .btn-lg{
        width: 100%;
        margin-top: 10px;
    }
    /* section hero */
    .hero{
        height: auto;
        padding: 120px 20px 50px;
        text-align: center;
    }
    .hero h1{
        font-size: 1.8em;
    }
    .hero h2{
        font-size: 1rem;
    }
    .hero-btn{
       display: flex;
       flex-direction: column;
       gap: 15px;
    }

    #btn3,
    #btn4{
      display: block;
      width: 100%;
      margin: 0;

    }
    .hor{
        flex-direction: column;
        gap: 30px;
        margin-top: 4rem;

    }
    /* section categories */
     

    .container{
        grid-template-columns: 1fr;

    }
    .card{
        width: 100% !important;
    }
    /* temoignages */
    .carrousel-item{
        padding: 10px;
    }
.carrousel-item img {
    width: 80px;
    height: 80px;
}
    
    /* CTA */
    .CTA{
        padding: 20px;
    }
    .cta-texte{
        font-size: 1rem;
    }
      /* footer */

    .pied{
        flex-direction: column;
        gap: 2rem;

    }
    footer{
        width: 100vw;
    }
    
    .icons{
        justify-content: center;
    }
    footer img{
        width: 70px;
    }
    /* pages freelance */

    .grille{
        padding: 15px;

    }
.filtrage-button{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
    #freelance img{
        margin-left: 0;
        gap: 1.5;
    }
.card-freelance{
    width: 100%  !important;
}
#freelance img{
      width: 120px;
      height: 120px;
      margin: auto;

}
.card-freelance .hide{
    display: none;

}


/* pages tarifs */

.tarifs .d-flex{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card-tarif{
    width: 100% !important;

}
.Populaire-card{
    transform: none;
}
.position-absolute .badge{
    font-size: 0.8rem !important;


}
 /* faq */

.accordion {
    width: 100% !important;
}
 

/* pages a propos */
.part-histoire{
    flex-direction: column;
    text-align: center;


}
 .part-histoire img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    height: auto;
    /* width: auto; */

 }
 .part-histoire p{
    margin-top: 0;
 }
 .equipe .d-flex{
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }
 .card-histoire{
     width: 100% !important;

 }
 
 .part-valeur{
    flex-direction: column;
    text-align: center;

 }
 .bento-grille{
    grid-template-columns: 1fr;

 }
 .grille1,
 .grille2,
 .grille3,
 .grille4,
 .grille5{
    grid-column: span 1;

 }

/* page contact */
 .sectionContact{
    grid-template-columns: 1fr;
    margin-top: 7rem;
    gap: 2rem;
    padding: 15px;
    
 }
 .contact-from-wrapper,
 .contact-info-wrapper{
    width: 100%;
    

 }
 .page-contact{
    flex-direction: column;
 }
.iframe{
     width: 100%; 
    height: 250px;
}




}
/* carte */
.card-body{
    padding: 1rem;
}
img{
    max-width: 100%;
    height: auto;
}

     /* RESPONSIVE TABLETTE */

@media (min-width: 768px) {
    /* navbar */
    .navbar-nav{
        text-align: center;
    }
    .navbar .btn{
        margin-top: 15px;
        width: 250px;
    }
    .navbar-toggler{
        
    }
      
       /* hero */
    .hero{
        height: auto;
        padding: 140px 30px 80px;
    }
    .hero h1{
        font-size: 2.5rem;

    }
    .hero h2{
        font-size: 1.4rem;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .horn{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }


     /* section cartegories */
    .container{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
    .card{
        width: 100% !important;

    }
     /* section temoignages */

    .carrousel-item{
        padding: 20px;
    }

/* footer */

    .pied{
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
      /* pages freelance */
     

    #freelance{
        gap: 2rem;
        margin-left: 0;
    }


    .card-freelance{
        width: 18rem !important;
    }
    #freelance img{
      width: 150px;
      height: 150px;
      margin: auto;
    }
     
     /* pages tarifs */
    .tarifs{
        padding: 120px 30px 50px;
    }
    .tarifs .d-flex{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .card-tarif{
        width: 20rem !important;
    }
       
     /* faq */

    .accordion{
        width: 100%;
    }

      /* pages a propos */
    .part-histoire{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .part-histoire img{
        width: 90%;
        max-width: 500px;
        height: auto;
        margin: auto;
    }
    .part-histoire p{
        margin-top: 0;
        

    }
    .equipe .d-flex{
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
    .card-histoire{
        width: 18% !important;
    }
    .part-valeur{
        display: grid;
        grid-template-columns: repeat(2.1fr);
        /* flex-wrap: wrap;
        justify-content: center;
        text-align: center; */
        gap: 30px;
    }
    /* .part-valeur div{
        width: 45%; 
    } */
      
      /* section chiffres clés */

    .bento-grille{
        grid-template-columns: repeat(2,1fr);
    }
    .grille1,
    .grille2,
    .grille3,
    .grille4,
    .grille5 {
        grid-template-columns: span 1;
    }
      
    /* pages contact */
    .sectionContact{
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 20px;
    }
     .contact-from-wrapper,
     .contact-info-wrapper{
        width: 100%;
     }
        /* localisation */
     .iframe{
        width: 100%;
        height: 350px;
     }
     .pied{
        flex-direction: column;
        height: 19em;
        width: 10em;
     }
}

 /* RESPONSIVE DESKTOP LARGE */

 @media (min-width: 1200px) {
    .categories {
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
    /* margin-top: 39rem; */
}

.categories h2 {
    text-align: center;
}

.body {
    /* text-align: center; */
    background: white;
    padding: 30px;
}

.card:not(.card-freelance, .card-tarif, .card-histoire) {
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
    height: 160px;
    height: 200px;
    width: 100%;
}

.card:hover:not(.card-freelance, .card-tarif, .card-histoire) {

    transform: translateY(0.9, 0.9);
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: var(--color);
    color: #ffffff;
}

.card-title {
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 20px;
    width: 100%;
    margin-top: 30px;
    
}

.part-histoire{
        flex-direction: row;
        text-align: center;
        gap: 30px;
    }

.tarifs .d-flex{
    flex-direction: row;
    align-items: center;
    gap: 4em;
    }

    .position-absolute .badge{
    font-size: 8rem !important;
}
/* footer */

.pied{
    gap: 8em;
    
}




    






/* section equipe */
.equipe {
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
}

.equipe h2 {
    text-align: center;
    padding: 10px;
}

/* sections valeurs */
.valeurs {
    background-color: var(--color-principal);
    padding: var(--space);
}

.part-valeur {
    display: flex;
    gap: 40px;
}

.part-valeur i {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 15px;



}

.valeurs h2 {
    text-align: center;
    color: var(--color);
    padding: 10px;
}

.valeurs h3 {
    color: var(--color);
}

/* section chiffres cles */

.chiffres {
    background-color: var(--color);
    padding: var(--space);
    color: #ffffff;
}

.chiffres h2 {
    text-align: center;
}

.bento-grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;


}
/*  GRILLE CHIFFRES CLES */

.grille1 {
    grid-column: span 2;
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;

}

.grille3 {
    grid-column: span 3;
    color: #2a90f0;
    background-color: #ffffff;
    border-radius: 20px;
}

.grille5 {
    grid-column: span 2;
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;
}

.grille2,
.grille4 {
    background-color: #ffffff;
    color: #2a90f0;
    border-radius: 20px;
}

.Populaire-card {
    border: 3px solid #2a90f0;
    transform: scale(1.05);
    position: relative;
 }

 .grille {
    background-color: var(--color-principal);
    color: #090b0c;
    margin-top: 5.5em;
    padding: 30px;

}

.grille select {
    background-color: #2a90f0;
    color: #ffffff;
}

.card-freelance {

    margin-top: 1em;
    padding: var(--space);
    background-color: #2a90f0;
    color: #ffffff;


}

.btn-primary {
    border-radius: 15px;
}

.card-freelance ul {
    display: flex;
    list-style: none;


}

#freelance {
    text-align: center;
    gap: 3rem;
    margin-left: 1rem;



}
/* GRILLE FREELANCE */

#freelance img {
    margin-left: 2.75rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #ffffff;

}
}
