*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
    --font-corp : roboto, sans-serif;
    --font-titre : Poppins, sans-serif;

    --color-principal:#F8F9FA;
    --color-texte:#090b0c;
    --color:#2a90f0;
    
    --space:16px;
}




/* le corps */
body{
  font-family: var(--font-corp) ;
  font-optical-sizing : auto ;
  line-height: 1.6;
  /* min-height: 100vh; */
  font-style: normal ;
  font-size: 17px;
  color : var(--color-texte);
}



/* les titres du pages */
h1,h2,h4,h5{
    font-family: var(--font-titre);
    font-style: var(--style);
}





/* section hero */
.hero{
     /* background-color: var(--color-principal);  */
    
    /* padding: var(--space); */
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/60.jpeg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center ; 
    color: #ffffff;
    
    
    
}

.toute{
    margin-top: 1em; 
}
.hor{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8em;
    text-align: center;
    
}

    
    


.fa-users,.fa-briefcase ,.fa-rocket{
    color: #ffffff;
    /* bottom: 10px; */
    margin-top: 35px;
    
}
.fa-users,.fa-briefcase ,.fa-rocket,h3{
    margin-top: 20px;
}








#btn4{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 30px;
    background-color: var(--color);
}
#btn3{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 30px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    
}
#btn3,#btn4{
    padding: 20px 30px;
    margin-top: 3em;
    
}




/* section comment ça marche */
.marche{
    background-color: var(--color-principal);
    padding: var(--space);
    /* height: 50vw; */
    width: 100%;
    bottom: 200px;
    
    
}

.marche h2{
    text-align: center;
    color: var(--color);
}
.marche h4{
    
    margin-top: 20px;
}
.marche h6{
    margin-top: 20px;
}
.bento-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    
}
.grid{
    background-color: var(--color);
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
    
}
.grid:hover{
    /* height: 100px; */
    transform: translateY(0.9,0.9);
    box-shadow: 5px 20px 50px rgba(0,0,0,0.9);
    cursor: pointer;
    background: var(--color);
    color: #ffffff;
}

#grid1,#grid4{
    background-color: #ffffff;
    color: var(--color);
}


/* sectio temoignage */
.temoin{
    background-color: var(--color-principal);
        padding: var(--space);
}
.temoin h2{
    text-align: center;
    color: var(--color);
}



/* section CTA */
.CTA{
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
    text-align: center;
    padding-bottom: 50px;
}
.cta-texte{
      font-size: 1.5rem;
}
.btn1{
    background: #ffffff;
    border: none;
    padding: 15px 30px ;
    text-decoration: none;
    color: var(--color);
    border-radius: 50px;
   
   

}
.btn1:hover{
   transform: translateY(0.9,0.9);
    box-shadow: 5px 20px 50px rgba(0,0,0,0.5);
    cursor: pointer;
    background: rgb(33, 33, 235);
    color: #ffffff; 
}

/* section categories */
.categories{
    background-color: var(--color);
    color:#ffffff;
    padding: var(--space);
    /* margin-top: 39rem; */
    
    
}
.categories h2{
    text-align: center;
}

.body{
    /* text-align: center; */
    background: white;
    padding: 30px;
     
    
    
    

}
.card{
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
    height: 160px;
    height: 200px;
    width: 100%;
    
    
}
.card:hover{
    /* height: 100px; */
    transform: translateY(0.9,0.9);
    box-shadow: 5px 20px 50px rgba(0,0,0,0.5);
    cursor: pointer;
    background: var(--color);
    color: #ffffff;
   
    /* position: relative; */
}
.card-title{
    margin-top: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 30px;
    padding: 30px 20px;
    width: 100%;
    margin-top: 30px; 
}


/* pied du page */
footer{
    padding: var(--space);
    text-align: center;
    
    
}
footer img{
    width: 98px;
}
.annee{
    text-align: center;
}
.pied{
    display: flex;
    gap: 9em;
    text-align: center;
}
.icons{
    display: flex;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: black;
    
    
}
footer ul{
    list-style: none;
    margin-left:20px ;
    margin-top: 10px;
    
}


    






/* liens */

.collapse{
    justify-content:flex-end;
    
}
.nav-link{
 color: #ffffff;
}


/* logo */
#logo{
    border-radius: 50%;
   background-color: var(--color);
   margin-left: 50px;
}







.btn{
    background-color: #ffffff;
    color: var(--color);
}
/* .container-fluid{
     background-color: var(--color);  
   
} */
.navbar{
    background-color: var(--color);
}
.navbar-toggler {
    background-color: #ffffff;
}



/* formulaire */
form{
    background-color: var(--color-principal);
    padding: 10px;
    

}
.contact{
    
    color: var(--color);
    text-align: center;
    width: 100%;
    margin-top: 100px;
    
}
.tor{
    background-color: var(--color);
    color: #ffffff;
}
.tor img{
    width: 70px;
    border-radius: 50%;
    
}
.tor a{
    color: #ffffff;
}



/* localisation  */
.iframe{
    background-color:var( --color-principal) ;
    color: #ffffff;
    padding: 10px;
}




/* boutton de filtrage */

.boutton{
    background-color:var(--color-principal);
    padding: 30px;
    margin-top: 5em;
    
}
.grille{
    background-color: var(--color-principal);
    color: #090b0c;
}
article{
    padding: var(--space);
}




/* section histoir */

.histoire{
    background-color: var(--color-principal);
    padding: var(--space);
    
}
.histoire h2{
    text-align: center;
    padding: 10px;
    color:var(--color);
   margin-top: 3em;
   margin-bottom: 30px;
   
    
}




/* section equipe */
.equipe{
    background-color: var(--color);
    color: #ffffff;
    padding: var(--space);
}
.equipe h2{
    text-align: center;
    padding: 10px;
}



/* sections valeurs */
.valeurs{
    background-color: var(--color-principal);
    padding: var(--space);
}
.valeurs h2{
    text-align: center;
    color: var(--color);
    padding: 10px;
}
.valeurs h3{
    color: var(--color);
}



/* section chiffres cles */

.chiffres{
    background-color: var(--color);
    padding: var(--space);
    color: #ffffff;
}
.chiffres h2{
    text-align: center;
}



/* section tarif */

.tarifs{
    background-color: var(--color-principal);
    padding: var(--space);
}
.tarifs h1{
    text-align: center;
    color: var(--color);
    margin-top: 3em;
    margin-bottom: 30px;
    
}
.prix{
    color: var(--color);
    
}
.liste{
   list-style-type: none; 
   
}
.bi-check-lg{
    color: var(--color);
    
}




/* section faq */
.question{
    background-color: var(--color);
    
    
}
.faq{
    text-align: center;
    color: #ffffff;
}


